<div class="container h-100 d-flex justify-content-center align-items-center p-5">
    <div class="">
        <h1 class="display-4 text-black-50">Hello Bootstrap 5 Boilerplate</h1>
        <a href="http://oscarballido.com/"><img src="oscarballido_logo.png" alt="ocarballido.com" height="96"></a>
    </div>
</div>