@import "./theme.scss";

@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

.list-group-flush > .list-group-item:last-child {
    border-width: 0 0 1px;
}

.usersItem {
    .avatar {
        align-items: center;
        border-radius: 50%;
        color: white;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;
        span {
            font-size: 1.2rem;
        }
    }
    .btn-remove-user {
        align-items: center;
        border-radius: 50%;
        // color: white;
        display: none;
        height: 40px;
        justify-content: center;
        width: 40px;
        display: none;
    }
    &:hover {
        cursor: pointer;
        .avatar {
            display: none;
        }
        .btn-remove-user {
            display: inline-flex;
            transform: rotate(90deg);
        }
    }
}

.productList-item {
    background-color: transparent;
    border-color: #6c757d;
}

#productsForm {
    .form-control, .form-select {
        background-color: $dark;
        border-color: $secondary;
        color: $secondary;
    }
}

#summary {
    background-color: #303438;
}

.summeryList-item {
    background-color: transparent;
    border-color: #6c757d;
}