@import "./theme.scss";

@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

.list-group-flush > .list-group-item:last-child {
    border-width: 0 0 1px;
}

#guestsAlert, #productsAlert, #summaryAlert {
    font-size: .85rem;
    margin: 0 auto;
    max-width: 500px;
}

.guestsItem {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    display: flex;
    padding: 16px 0;
    .guestsItem-avatar-button {
        flex-shrink: 0;
    }
    .guestItem-badge {
        border-radius: 50rem;
        color: white;
        font-size: .75rem;
        font-weight: 600;
        padding: 1px 8px;
    }
    .guestsItem-info {
        flex-grow: 1;
        margin: 0 16px;
        .guestsItem-info_name {
            margin: 0;
        }
        .guestsItem-info_content {
            margin: 0;
        }
    }
    &.negative {
        .avatar {
            background-color: $danger;
        }
        .guestItem-badge {
            background-color: $danger;
        }
        .guestsItem-info {
            .guestsItem-info_content {
                color: $danger;
            }
        }
    }
    &.positive {
        .avatar {
            background-color: $success;
        }
        .guestItem-badge {
            background-color: $success;
        }
        .guestsItem-info {
            .guestsItem-info_content {
                color: $success;
            }
        }
    }
    .avatar {
        align-items: center;
        border-radius: 50%;
        color: white;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;
        span {
            font-size: 1.2rem;
        }
    }
    .btn-remove-guest {
        align-items: center;
        border-radius: 50%;
        // color: white;
        display: none;
        height: 40px;
        justify-content: center;
        width: 40px;
        display: none;
    }
    &:hover {
        .avatar {
            display: none;
        }
        .btn-remove-guest {
            display: inline-flex;
        }
    }
}

.productItem {
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
    color: white;
    display: flex;
    min-height: 56px;
    padding: 16px 0;
    .productItem-title {
        flex-grow: 0;
        margin: 0;
    }
    .productItem-badge {
        background-color: $secondary;
        color: $dark;
        flex-shrink: 0;
        margin: 0 16px;
        display: inline-block;
        padding: 0.35em 0.65em;
        font-size: 0.75em;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
    }
    .productItem-price {
        flex-grow: 1;
        margin: 0;
        text-align: right;
    }
    .deleteProduct {
        .btn-deleteProduct {
            padding: 0 8px;
        }
        display: none;
        flex-grow: 1;
        text-align: right;
        justify-content: flex-end;
    }
    &:hover {
        .productItem-price {
            display: none;
        }
        .deleteProduct {
            display: flex;
        }
    }
}
#productsSumTotal {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

#productsForm {
    .form-control, .form-select {
        background-color: $dark;
        border-color: $secondary;
        color: $secondary;
    }
}

#summary {
    background-color: #2c3034;
}

.summaryItem {
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
    color: white;
    display: flex;
    min-height: 56px;
    padding: 16px 0;
    .summaryItem-debtor {
        flex-grow: 1;
        margin: 0;
    }
    .summaryItem-badge {
        background-color: $primary;
        color: white;
        flex-shrink: 0;
        margin: 0;
        display: inline-block;
        padding: 0.35em 0.65em;
        font-size: 0.75em;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 50rem;
    }
    .summaryItem-icon {
        flex-grow: 0;
        font-size: 1.25rem;
        margin: 0 16px;
        text-align: right;
    }
    .summaryItem-beneficiary {
        flex-grow: 0;
        margin: 0;
        text-align: right;
    }
}

.summeryList-item {
    background-color: transparent;
    border-color: #6c757d;
}
#controls {
    bottom: 0;
    padding: 1rem;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 9999;
}